{% extends 'base.html.twig' %}

{% block title %}Les Bons Booléens{% endblock %}

{% block body %}
<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">

    	{% for articleImage in articleImages %}
    		<img src="{{ articleImage.url }}">
    	{% endfor %}
      
    </div>
  </div>

</main>
{% endblock %}
