{% extends 'base.html.twig' %}

{% block title %}J'apprécie les fruits au sirop{% endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-row ">
        <div class="container col-lg-3 ">
            <img class="img-fluid" src="https://www.ladn.eu/wp-content/uploads/2018/11/big-mac-soixante.jpg" alt="pubalacon">
        </div>

        <div class="container col-lg-9 d-flex flex-row flex-wrap justify-content-around align-items-center">

            {% set categoryFromUrl = app.request.get('category') %}
            {% set i = 0 %}

            {% for category in categories %}
                {% if category.categoryName == categoryFromUrl %}
                {% set categoryId = category.Id %}

                    {% for i in range(0, categories|length - 1) %}

                        {% if categories[i].parentId == categoryId and categories[i].parentId != 0 %}

                            <div class="d-flex flex-column col-3 p-0 mx-1 border">
                                <div class="">
                                    <a href="#">
                                        <img class="img-fluid w-100" src="{{ categories[i].image }}" alt="">
                                    </a>
                                </div>
                                <div class="text-center">
                                    <p>{{ categories[i].categoryName }}</p>
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}

                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
