{% extends 'base.html.twig' %}

{% block title %}J'apprécie les fruits au sirop{% endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-row ">
        <div class="container col-lg-3 ">
            <img class="img-fluid" src="https://www.ladn.eu/wp-content/uploads/2018/11/big-mac-soixante.jpg" alt="pubalacon">
        </div>

        <div class="container col-lg-9 d-flex flex-row flex-wrap justify-content-around align-items-center">


            {% set categoryFromUrl = app.request.get('category') %}

            {% for category in header.categories %}
                {# get the mainCatId#}
                {% if category.categoryName == categoryFromUrl %}
                    {% set mainCatId = category.Id %}
                    
                    {% for category in header.categories %}
                        {# check if category is subcat of main #}
                        {% if category.parentId == mainCatId and category.parentId != 0 %}
                            <div class="d-flex flex-column col-3 p-0 mx-1 border">
                                <div class="">
                                    <a href="{{path('subcategories',{category:categoryFromUrl,subcategories:category.categoryName})}}">
                                        <img class="img-fluid w-100" src="{{ category.image }}" alt="">
                                    </a>
                                </div>
                                <div class="text-center">
                                    <p>{{ category.categoryName }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            
            
        </div>
    </div>
{% endblock %}
