{% extends 'base.html.twig' %}

{% block title %}J'apprécie les fruits au sirop{% endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-row ">
        <div class="container col-lg-3 ">
            <img class="img-fluid" src="https://www.ladn.eu/wp-content/uploads/2018/11/big-mac-soixante.jpg" alt="pubalacon">
        </div>

        <div class="container col-lg-9 d-flex flex-row flex-wrap justify-content-around">

            {% set categoryFromUrl = app.request.get('category') %}
            {% set i = 0 %}

            {% for category in categories %}
                {% if category.categoryName == categoryFromUrl %}
                {% set categoryId = category.Id %}

                    {% for i in range(0, categories|length - 1) %}

                        {% if categories[i].parentId == categoryId and categories[i].parentId != 0 %}

                            <div class="d-flex flex-column border col-4">
                                <div>
                                    <img class="img-fluid" src="https://avatars1.githubusercontent.com/u/30369625?s=460" alt="">
                                </div>
                                <div>
                                    <p>{{categories[i].categoryName}}</p>
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}

                {% endif %}
            {% endfor %}

        </div>
    </div>
{% endblock %}
