{% extends 'base.html.twig' %}

{% block title %}Profile Page
{% endblock %}

{% block body %}
	<div class="col-lg-6 col-md-8 col-sm-8 col-10 mx-auto ">
		<div class="pt-3">

			<div class="text-center">
				<h2 class="mt-1">Edit your password</h2>
			</div>
		
			<form method="post" action="{{path('editPassword')}}">
				<div class="form-group">
					<label>Old password</label>
					<input type="password" class="form-control" name="oldPassword">

					{% if alert %}
						<div class="alert alert-danger mt-2 col-4" role="alert">
							{{ alert }}
						</div>
					{% endif %}

					<div class="text-center">
						<button type="submit" class="btn btn-success mt-2">Confirm</button>
					</div>
				</form>
			</div>
		</div>
	{% endblock %}
