{% extends 'base.html.twig' %}

{% block title %}Profile Page
{% endblock %}

{% block body %}


	<div class="col-lg-6 mx-auto ">
		<div class="pt-3">

			<h2 class="mt-1">Edit your password</h2>
			<form method="post" action="{{path('editPassword')}}">
				<div class="form-group">
					<label>Old password</label>
					<input type="password" class="form-control" name="oldPassword">
					{% if alert %}
						<div class="alert alert-danger mt-2 col-4" role="alert">
							{{ alert }}
						</div>
					{% endif %}
					<button type="submit" class="btn btn-success mt-2">
						Confirm</button>
				</form>
			</div>
		</div>
	{% endblock %}
