@import "~bootstrap";

html,body {
    min-height: 100vh;
    color:rgba(75,75,75);
}

body {
    position:relative;
    background-color: white; /* rgba(235,235,235) */
}

footer#myfooter {
    position:absolute;
    width:100%;
    bottom:0;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.buttonColor {
    background-color: rgb(214, 132, 132);
}


/* NAVBAR */

.disNone{
    display: none;
}
.disBlock{
    display: block;
}

/* =============================== PRODUCT PAGE STYLE =============================== */

img.thumbnail-images:hover,img.thumbnail-images.active {
    cursor:pointer;
}



.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;  
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to{
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.fadeOut{
    animation-name: fadeOut;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;  
}


@keyframes fadeOut {
    from {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to{
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}