@import "~bootstrap";

html,body {
    min-height: 100vh;
    color:rgba(75,75,75);
}

body {
    position:relative;
}

footer#myfooter {
    position:absolute;
    width:100%;
    bottom:0;
}

/* NAVBAR */

.subCategories{
    display: none;
}

/* =============================== PRODUCT PAGE STYLE =============================== */

img.thumbnail-images:hover,img.thumbnail-images.active {
    cursor:pointer;
}
