@import "~bootstrap";

html,body {
    min-height: 100vh;
    color:rgba(75,75,75);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    position:relative;
    background-color: white; /* rgba(235,235,235) */
}
main {
    padding-top: 120px;
    padding-bottom: 120px;
}

#cHistory {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 750px) {
    .responsiv {
      margin-top: 30%;
    }
}

footer#myfooter {
    position: absolute;
    width: 100%;
    bottom: 0;
      color: #02396D;
}
footer a {
    color: #02396D;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.buttonColor {
    background-color: rgb(0, 107, 23);
    color: white;
}
.borderSize{
    border-style:solid!important;
    border-width: 5px!important;
    border-color: rgb(70, 70, 70)!important;
    background-color: #e2e2e2;
}

/* NAVBAR */

.disNone{
    display: none;
}
.disBlock{
    display: block;
}
.blackButton {
    color: white!important;
}
#btnSearch{
    color: white;
    background-color: #1C6EA4;
    border: 1px solid;
    border-color: #1C6EA4;
}

.mainCategories {
    background: #02396D;
    background: -moz-linear-gradient(left, #02396D 0%, #1C6EA4 50%, #02396D 100%);
    background: -webkit-linear-gradient(left, #02396D 0%, #1C6EA4 50%, #02396D 100%);
    background: linear-gradient(to right, #02396D 0%, #1C6EA4 50%, #02396D 100%);  
}
.subCategories{
background: #678CBF;
background: -moz-linear-gradient(left, #678CBF 0%, #8ABBFF 50%, #678CBF 100%);
background: -webkit-linear-gradient(left, #678CBF 0%, #8ABBFF 50%, #678CBF 100%);
background: linear-gradient(to right, #678CBF 0%, #8ABBFF 50%, #678CBF 100%);
    color: #02396D;
 
}
.subCategories a{
    color: white !important;
}

/* =============================== PRODUCT PAGE STYLE =============================== */

img.thumbnail-images:hover,img.thumbnail-images.active {
    cursor:pointer;
}

/* =============================== Login Button =============================== */

.myButton {
	box-shadow: 3px 4px 0px 0px rgb(0, 0, 0);
	background:linear-gradient(to bottom, #6d6d6d 5%, #000000 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #535353;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
}

.myButton2 {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.myButton2:active {
	position:relative;
	top:1px;
}

/* =============================== / Login Button =============================== */

.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;  
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to{
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.fadeOut{
    animation-name: fadeOut;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;  
}


@keyframes fadeOut {
    from {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to{
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    
    /*position the autocomplete items to be the same width as the container:*/
    left: 0;
    right: 0;
}
  
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #009EE2; 
    color:white;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

/* =============================== FILTER STYLE =============================== */

.filter {
    display:block;
    position:sticky;
}

/* =============================== CART STYLE =============================== */

.min-max-width{
    min-width: 50px;
    max-width: 50px;
}

/* ============================== HOME STYLE ============================== */

/* responsive text */
@media (max-width: 575px) {
    .resp-text { font-size: 0.85rem; }
}
@media (min-width: 576px) {
    .resp-text { font-size: 1rem; }
}
@media (min-width: 768px) {
    .resp-text { font-size: 1rem; }
}
@media (min-width: 992px) {
    .resp-text { font-size: 0.95rem; }
}
@media (min-width: 1200px) {
    .resp-text { font-size: 1.15rem; }
}