{% extends 'base.html.twig' %}

{% block title %}Les Bons Booléens
{% endblock %}

{% block body %}

	<div class="row justify-content-center">
		<div class="col-4 text-center mt-4">
			<div>
				<img src="https://cdn.discordapp.com/attachments/682142335601344612/686560272206397511/oops-fish.png" class="w-100">
			</div>
			<p>Sorry, no results match your request</p>
		</div>
	</div>


{% endblock %}
