{% extends 'base.html.twig' %}

{% block title %}Message sent !{% endblock %}

{% block body %}
	<div class="col-lg-6 mx-auto border text-center">
		<p>Your message was successfully sent.</p>
		<div>
			<a class="btn btn-primary" href="{{ path('home') }}">Go back to homepage</a>
		</div>
	</div>
{% endblock %}
