{% extends 'base.html.twig' %}

{% block title %}Give us information{% endblock %}

{% block body %}

    <div class="pt-3">
        <div class="d-flex flex-row justify-content-center mt-5">
        <a href="{{ path('authentification') }}"><button>Sign up</button></a>
    </div>
    
    <div class="col-lg-6 mx-auto"> 
        <h2 class="mt-5">Sign In</h1>
            <form action="{{ path('security_login')}}" method="post">
                <div class="form-group">
                    <input placeholder="Email" required name="_username" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input placeholder="Password" required name="_password" type="password" class="form-control">
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-success">Sign In</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
