{# templates/emails/registration.html.twig #}
<h3>THE EMAIL WAS SENT OMG</h3>

I CAN'T BELIEVE IT

{# example, assuming you have a route named "login" #}
BTW GIMME FRIES

{# Makes an absolute URL to the /images/logo.png file #}
OMG